[mysql]
host = 127.0.0.1
port = 3306
user = root
password = Eternal@12
database = msil_ipC2

[process_inference]
top_cam_model_path = ./data/models/best_top_2104_iter2.pt
bottom_cam_model_path = ./data/models/best_bottom_2104.pt
window_name = MSIL IP Cluster Inspection
use_video_mode = true
video_path_top = rtsp://admin:Eternal$12@192.168.1.64:554/Streaming/channels/101
video_path_bottom = rtsp://admin:Eternal$12@192.168.1.65:554/Streaming/channels/101
video_path_up = rtsp://admin:Eternal$12@192.168.1.66:554/Streaming/channels/101

[PLC]
use_plc_mock = false
ip_address = 192.168.3.211
port = 5010