[mysql]
host = 127.0.0.1
port = 3306
user = root
password = Eternal@12
database = asma_door_rh_v1

[api_common]
result_count_threshold = 2
child_box_iou_threshold = 0.9
allow_ok_to_ng = true

[api_artifact]
part_success_threshold = 2
snapshot_interval_secs = 4
snapshots_dir = D:\ipcluster_images
metadata_dir = D:\ipcluster_images_metadata
debug_mode = false
debug_vehicle_model = YHB4ED23P7400000
n_snapshots_max = 12
plc_write_enabled = false

[process_inference]
models_base_path = ./data/models
window_name = MSIL IP Cluster Inspection

[process_heartbeat_get]
cycle_time_secs = 1
cycle_poll_frequency = 3
hearbeat_history_secs = 5

[process_heartbeat_send]
cycle_time_secs = 2

[process_health_server]
port = 5005

[script_snapshot_cleanup]
n_backup_days = 10
n_chassis_backup = 100

[PLC]
use_plc_mock = false
ip_address = 192.168.3.211
port = 5010