[process_inference]
top_cam_model_path = ./data/models/best_top_2004.pt
bottom_cam_model_path = ./data/models/best_bottom_2004.pt
window_name = MSIL IP Cluster Inspection
use_video_mode = true
video_path_top = ./data/videos/7929_192.168.1.64_01_20240321154149592_1.mp4
video_path_bottom = ./data/videos/7929_192.168.1.65_01_20240321154154812_1.mp4

[PLC]
use_plc_mock = true
ip_address = 192.168.5.20
port = 1111